/* Design tokens */

:root {
  /* Colors */
  --primary: #4949f2;
  --primary-hover: #2626e7;
  --background-primary: #fffaf7;
  --background-secondary: #ffffff;
  --dark: #2e2e2e;
  --grey-dark: #5e5e5e;
  --grey-light: #a7a7a7;
  --grey-extralight: #ebebeb;
  --tag-js-background: #fff6e5;
  --tag-js: #9d6500;
  --tag-html-css-background: #d8f0ff;
  --tag-html-css: #0c73b8;

  /* Font-weight */
  --extrabold: 900;
  --bold: 700;
  --medium: 600;
  --regular: 400;

  /* Box-shadow */
  --shadow: 0 2px 16px 4px rgba(145, 145, 145, 0.1);

  /* Font-size */
  --title: 3rem;
  --subtitle: 1rem;
  --paragraphe: 0.9rem;
  --tag: 0.8rem;
}

html,
body {
  background-color: var(--background-primary);
  margin: 0;
  padding: 0;
  width: 100%;
}

/* style pour desktop : au-dessus de 375px */
@media (min-width: 375px) {
  /* Navbar */
  .menu {
    display: flex;
    width: 100%;
    height: 65px;
    padding: 0 80px;
    align-items: center;
    box-shadow: var(--shadow);
    gap: 32px;
    background-color: var(--background-secondary);
    box-sizing: border-box; /* Prend en compte la bordure et le remplissage dans la valeur définie pour largeur et hauteur. Permet d'enlever le scroll horizontal ici */
  }

  .logo {
    height: 36px;
  }

  .nav-items {
    display: flex;
    align-items: center;
    fill: var(--dark);
    gap: 8px;
  }

  .nav-items:hover {
    color: var(--primary);
  }

  li a {
    text-decoration: none;
    font-size: var(--paragraphe);
    color: var(--dark);
    font-weight: var(--medium);
    font-family: "Montserrat", sans-serif;
    padding: 5px 0px;
    border-bottom: solid 2px transparent; /* La bordure occupe sa place mais est transparente pour éviter un décalage des items vers le haut en hover */
  }

  li a:hover {
    border-bottom: solid 2px var(--primary);
    color: var(--primary);
  }

  ul {
    list-style: none;
    float: right;
    display: flex;
    gap: 60px;
    margin: 24px;
  }

  .container-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Fonts */
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: var(--title);
    font-weight: var(--extrabold);
    color: var(--dark);
  }

  h1 span {
    border-bottom: solid 4px var(--primary);
    color: var(--primary);
  }

  h2 {
    font-size: var(--subtitle);
    color: var(--grey-dark);
    font-weight: var(--medium);
    font-family: "Montserrat", sans-serif;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: var(--paragraphe);
    font-weight: var(--regular);
    line-height: 1.2rem;
    color: var(--grey-dark);
  }

  .container-cta {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  /* Boutons */
  .button-primary {
    background-color: var(--primary);
    border-radius: 15px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .button-primary a {
    font-size: var(--paragraphe);
    font-weight: var(--medium);
    font-family: "Montserrat", sans-serif;
    color: var(--background-secondary);
    text-decoration: none;
  }

  .button-primary:hover {
    background-color: var(--primary-hover);
  }

  .button-secondary {
    border-radius: 15px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    background-color: var(--background-secondary);
  }

  .button-secondary a {
    font-size: var(--paragraphe);
    font-weight: var(--medium);
    font-family: "Montserrat", sans-serif;
    color: var(--primary);
    text-decoration: none;
  }

  .button-secondary:hover {
    background-color: var(--primary);
  }

  .button-secondary a:hover {
    color: var(--background-secondary);
  }

  /* Footer */
  footer {
    position: absolute;
    bottom: 0; /* Permet de fixe l'élément en bas */
    width: 100%;
    border-top: solid 1px var(--grey-extralight);
  }

  .mentions {
    text-align: right; /* Aligne texte à droite à l'intérieur du bloc */
  }

  .mentions a p {
    text-decoration: none;
    padding-right: 80px; /* Ajoute du padding à l'intérieur du bloc */
    display: inline-block; /* Permet au padding d'être pris en compte autour du lien */
    color: var(--dark);
    font-weight: var(--medium);
  }

  .mentions a:hover p {
    color: var(--primary);
  }

  /* Cards */
  .container-card {
    display: flex;
    flex-wrap: wrap; /* Pour le responsive */
    gap: 24px;
  }

  .card {
    width: 405px;
    height: 425px;
    border-radius: 25px;
    background: var(--background-secondary);
    box-shadow: var(--shadow);
    padding: 32px;
  }

  .card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 12px;
  }

  .card-description {
    display: flex;
    flex-direction: column;
  }

  .content {
    margin-left: 80px;
  }

  .card .button-primary {
    width: 100%;
    height: 46px;
  }

  .card-description p,
  .card-description h2 {
    margin: 0px;
    padding: 4px;
  }

  .date {
    color: var(--grey-light);
    font-size: var(--paragraphe);
    font-weight: var(--medium);
  }

  .card h2 {
    color: var(--dark);
    font-weight: var(--bold);
  }

  .tag-js {
    width: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--tag-js-background);
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .tag-js p {
    font-family: "Montserrat", sans-serif;
    font-size: var(--tag);
    font-weight: var(--medium);
    color: var(--tag-js);
  }

  .tag-html-css {
    width: 85px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--tag-html-css-background);
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .tag-html-css p {
    font-family: "Montserrat", sans-serif;
    font-size: var(--tag);
    font-weight: var(--medium);
    color: var(--tag-html-css);
  }
}

/* style pour desktop : en-dessus de 375px */
@media (max-width: 375px) {
  footer {
    width: 100%;
    border-top: solid 1px var(--grey-extralight);
  }
}
